*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: white;
}
::selection{
    color: #fff;
    background: #007bff;
}
.info-title {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    border-radius: 20px 20px 0 0;
    font-size: 40px;
    font-weight: 450;
    margin-left: 40%;
    margin-top: 5%;
}

.info-rules {
    font-size: medium;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

.start_btn button{
    margin-left: 43%;
    margin-right:auto;
    width: 8em;
    font-size: larger;
}

.timer {
   position: absolute; 
   top: 0%;
   left: 3%;
   width: 100px;
   text-align: left;


    
}
.quiz_box header{
    position: fixed;
    z-index: 3;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#timer_sec{
    position: fixed;
    top: 0;
    left: 0;
}
